*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



html{
   scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 76vh;
    background-color: rgba(112, 110, 110, 0.973);
   padding-top: 60px;
}

nav{
    width: 100%;
    height: 3.5rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    right: 0;  
    left: 0;
    z-index: 1000;
}

.logo img{
    width: 8rem;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type:none;
    margin-right: 2rem;
    
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1rem;
 
    
}

.header .text{
    margin-top: 5rem;
    width: 55%;
    padding: 0 4rem;
}

.text h2{
    font-size: 1rem;
    color: whitesmoke;
}

.text .See_our_service{
    background-color: yellow;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
}

.perfect_solutions_cards{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 5rem;
   
    gap: 20px;

}

.perfect_solutions_cards .card1{
    background-color: whitesmoke;
    box-shadow: rgb(0, 0, 0.973);

    width: 20%;
}

.perfect_solutions_cards .card1 img{
    width: 100%;
    margin-bottom: 1.5rem;
}

.perfect_solutions_cards .card1 p{
    text-align: center;
    margin: 0 20px 20px 20px ;
}

.about_us{
    position: relative;
    padding:0 11rem;
   
}

.about_us h2{
    margin-bottom: 20px;
    font-size: 1rem;
}

.about_us h3{

    color: rgb(48, 46, 46);
   
}

.about_us::before{
    content: '';
    width: 10rem;
    position: absolute;
    background-color: #000;
    height: 20rem;
    top: 30px;
    left: 1px;

}

.about_us .infor p{
    font-size: 14px;
    color: rgb(15, 15, 15);
    margin: 15px 0;
    letter-spacing: .5px;
    
    line-height: 2;
}

.ourvission_our_mission{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 5rem;
    padding:0  12rem 0 10rem;
    gap: 30px;
}

.ourvission_our_mission h2{
    font-size: 20px;
    margin-bottom: 10px;
}


.ourvission_our_mission p{
    line-height: 26px;
    font-size: 13px;
}


.ourvission_our_mission::after{
    content: '';
    width: 10rem;
    position: absolute;
    background-color: #000;
    height: 12rem;
    overflow: hidden;
    top: 10px;
    right: 5px;
}

.service_container{
    width: 100%;
    height: 100vh;
    background-color: #000;
    margin-top: 6rem;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
}

.service_container h1{
    color: beige;
    text-align: center;
    margin-bottom: 2rem;
}

.service_provide{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.marketing,
 .advertising,
 .Tech_Services {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 280px;
    
}

.advertising{
    height: 350px;
}

.Tech_Services{
    height: 460px;
}

.marketing{
    height: 370px;
    

}


 .Tech_Services p{
    font-size: 14px;
    line-height: 20px;

 }


 .advertising h2{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;

 }
 .advertising p{
    font-size: 14px;
    line-height: 20px;

 }

 .marketing h2{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;


 }

 .marketing p{
    font-size: 14px;
    line-height: 20px;


 }


 .Tech_Services h2{
    font-size: 16px;
    margin-bottom: 10px;
   
 }

 
 .advertising h2{
    font-size: 16px;

 }




 .Tech_Services img{
    width: 100%;
    height: 120px;
    margin: 10px 0;
    
 }

 .core_values_client_container .our_client h2{
    font-size: 2rem;
 }

 .our_client{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
 }

 .our_client h2{
    margin-top: 90px;
 }

 .client_logos{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 90px;
 }

 .client_logos img{
    height: 40px;
    width: 150px;
    box-shadow:2px 20px 70px 1px;
 }

 .our_core_values{
    display: flex;
    padding: 0 60px;
   
 }

 .our_core_values .infor{
    margin-top: 90px;
    
}
  
 

 .our_core_values h2{
    font-size: 2rem;
    margin: 25px 0;
    
 }

 .our_core_values p{
    font-size: 15px;
    line-height: 2;
 }

 .our_core_values .image img{
    width: 500px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
 }

 .infor small{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
 }

 .recent_completed_container{
    width: 100%;
    padding: 90px;
    height: 60vh;
 }

  .title{
    display: flex;
    justify-content: space-between;

 }

 .recent_completed_container .cards{
    display: flex;
   
    gap: 70px;
    position: absolute;
    margin: 40px 80px;
    align-items: center;
 

 }

 .cards .card{
    background-color: #fff;
    box-shadow:2px 20px 70px 1px;
    position: relative;
 }
 

.cards .card img{
    width: 200px;

 }






.our_core_values .image img{
   width: 100%;
   margin-top: 90px;
}


 .criptude_webdesign{
    background-color:#fff;
    border: 1px solid rgba(0, 0, 0, 0.473);
    padding: 10px;
    width: 180px;
    position: absolute;
    top: 165px;
    margin-left: 8px;
  
    
 }

 .criptude_webdesign a{
    text-decoration: none;
   
 }

 .criptude_webdesign p{
    margin-top: 10PX;
 }

 .our_client_contn{
    width: 100%;
    margin-top: 150px;

 }

 .our_client_contn h2{
    font-size: 2rem;
 }

 .clientse{
    background-color: #fff;
    width: 230px;
    height: 350px;
    text-align: center;
    box-shadow:2px 20px 70px 1px;
 }

 .clients{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
 }

 .our_client_contn{
    align-items: center;
    display: flex;
    flex-direction: column;
 }

 .clientse img{
    width: 70px;
    margin: 30px 0;
 }

 .profile h1{
    font-size: 20px;
    margin-bottom: 20px;

 }

 .clientse p{
    font-size: 14px;
 }


 .clientse .profile img{
    width: 40px;
    margin-top: 30px;
 }


 .footer{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: #250335;
    color: whitesmoke;
    height: 30vh;
    margin-top: 60px;

 }


 .footer .subscribe img{
    width: 90px;
    margin-bottom: 15px;

 }


 .footer .links{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
 }


 .footer .contact h1{
    margin-bottom: 15px;
 }



 .footer .links h1{
    margin-bottom: 15px;

 }



 .footer .links a{
    color: whitesmoke;
    text-decoration: none;
    margin: 3px 0;
 }


 .footer .contact a{
    color: whitesmoke;
    text-decoration: none;
    margin: 3px 0;
 }



 .footer .contact{
    display: flex;
    flex-direction: column;
    
 }

 .copy_rignt{
    text-align: center;
    background-color: #000;
    color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 1px;

 }

 .sidebar{
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 250px;
   z-index: 999;
   display: flex;
   flex-direction: column;
   background-color: #1d1414;
   color: white;
   transition: 0.5s ease-in;
   display: none;
 }

 .fa-bars{
   color: #fff;
   display: none;
 }

 .logo_sidebar{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;

 }

 .logo_sidebar img{
   width: 130px;
 }

 .logo_sidebar .fa-xmark{
   font-size: 40px;
   padding-right: 30px;
   padding-top: 20px;
 }

 .sidebar li{
   z-index: 1000;
   margin-top: 30px;
   margin-left: 20px;

 }

 .removeli{
   display: block;
 }





 @media screen and (max-width:600px) {
   .header{
      width: 100%;
      height: 70vh;
      background-color: rgba(112, 110, 110, 0.973);
  }

  nav{
   width: 100%;
   background-color: #000;
   padding: 0 .9rem;
}

.logo img{
   width: 6rem;
}

nav ul{
  
   display: none;
}

.header .text{
   margin-top: 14rem;
   width: 80%;
   padding: 0 .9rem;
}

.text h2{
   font-size: 1.5rem;
   color: whitesmoke;
}

.perfect_solutions_cards{
   width: 100%;
   flex-direction: column;
   padding: .9rem;

}

.perfect_solutions_cards .card1{
   background-color: whitesmoke;
   width: 100%;
}


.about_us{
   position: relative;
   padding:0 .9rem;
   width: 100%;
  
}

.about_us h2{
   margin-bottom: 20px;
   font-size: 1.5rem;
   text-align: center;
}



.about_us::before{
   display: none;

}

.about_us .infor p{
   margin: 10px 0;
   line-height: 1.3;
}

.ourvission_our_mission{
   width: 100%;
   position: relative;
   display: flex;
   margin-top: 3rem;
   padding:0 .9rem;
   flex-direction: column;
   gap: 20px;
   height: auto;
}

.ourvission_our_mission h2{
   font-size: 20px;
   margin-bottom: 10px;
}


.ourvission_our_mission p{
   line-height: 26px;
   font-size: 14px;
   width: 100%;
}


.ourvission_our_mission::after{
   display: none;
 
}


.service_container{
   width: 100%;
   height: auto;
   background-color: #000;
   margin-top: 2rem;
   padding-top: 1.5rem;
   padding: 20px 0.9rem;
 
}

.service_container h1{
   font-size: 1.5rem;
   margin-bottom: 2rem;
}

.service_provide{
   flex-direction: column;
   width: 100%;
   gap: 15px;
}

.marketing,
.advertising,
.Tech_Services {
   background-color: #fff;
   text-align: center;
   padding: 10px;
   width:100%;
   
}

.advertising{
   height: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Tech_Services{
   height: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.marketing{
   height: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.marketing h2{
   width: 120px;
   height: 120px;
   text-align: center;
   border-radius: 100%;
   padding-top: 4rem;
   margin: 0.5rem 0px 1rem;
   background: linear-gradient(45deg, rgba(255, 0, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(0, 255, 0, 0.2));
}

.Tech_Services h2{
  
   width: 120px;
   height: 120px;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   border-radius: 100%;
   padding-top: 4rem;
   margin: 0.5rem 0px 1rem;
   background: linear-gradient(45deg, rgba(255, 0, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(0, 255, 0, 0.2));
}

.advertising h2{
   width: 120px;
   height: 120px;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   border-radius: 100%;
   padding-top: 4rem;
   margin: 0.5rem 0px 1rem;
   background: linear-gradient(45deg, rgba(255, 0, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(0, 255, 0, 0.2));
}

.dotteted_border{
   padding: 10px;
   border: 5px dotted black;
  
}

.row1{
   display: flex;
   gap: 10px;

}

.row2{
   display: flex;
   gap: 10px;
   
}

.row1 p{
   background-color: rgb(182, 254, 254);
   padding: 5px;
   font-weight: 500;
   margin-bottom: 5px;
   border-radius: 10px;
}



.row2 p{

   background-color: rgb(182, 254, 254);
   padding: 5px;
   font-weight: 500;
   margin-bottom: 5px;
   border-radius: 10px;

}

.row3 p{
   margin: 5px;
   background-color: rgb(182, 254, 254);
   border-radius: 10px;
   padding: 5px;

}

.our_client{
  background-color: white;
   width: 100%;
   padding: 20px 0.9rem;
   
}

.our_client h2{
   margin-top: 30px;
}

.client_logos{
   flex-wrap: wrap;
   gap: 20px;
   margin-top: 30px;
}

.client_logos img{
   box-shadow:0px 20px 50px rgba(0, 0, 0, 0.473);
}


.our_core_values{
   padding: 20px 0.9rem;
   flex-direction: column;
}

.our_core_values .infor{
   margin-top: 30px;
   
}
 


.our_core_values h2{
   font-size: 2rem;
   margin: 20px 0;
   text-align: center;
   
}

.our_core_values p{
   font-size: 14px;
   line-height:1.5 ;
}

.our_core_values .image img{
   width: 100%;
   margin-top: 30px;
}

.recent_completed_container{
   width: 100%;
   padding: 20px 0.9rem;
   height: 340vh;
}

 .title h2{
   font-size: 16px;
   width: 50%;
   

}

.recent_completed_container .cards{
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 100%;
   margin: 0;
   align-items: center;
   justify-content: center;


}

.cards .card{
   background-color: #fff;
   box-shadow:0px 20px 50px rgba(0, 0, 0, 0.473);
   width: 100%;
   position: relative;
}


.cards .card img{
   width: 100%;

}






.our_core_values .image img{
  width: 100%;
  margin-top: 30px;
}


.criptude_webdesign{
   background-color:#fff;
   border: 1px solid rgba(0, 0, 0, 0.473);
   padding: 10px;
   width: 180px;
   position: absolute;
   top: 400px;
   margin-left: 170px;
 
   
}

.criptude_webdesign a{
   text-decoration: none;
  
}

.criptude_webdesign p{
   margin-top: 10PX;
}



.our_client_contn{
   width: 100%;
   margin-top: 30px;
   height: auto;
   padding: 20px 0.9rem;

}

.our_client_contn h2{
   font-size: 1.8rem;
}

.clientse{
   background-color: #fff;
   width: 100%;
   height: auto;
   padding: 10px;
   text-align: center;
   border: 1px solid rgba(0, 0, 0, 0.473);
}

.clients{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin-top: 40px;
}

.our_client_contn{
   align-items: center;
   display: flex;
   flex-direction: column;
}

.clientse img{
   width: 70px;
   margin: 20px 0;
}

.profile h1{
   font-size: 18px;
   margin-bottom: 10px;

}




.clientse .profile img{
   width: 40px;
   margin-top: 20px;
}

.footer{

   padding: 20px 0.9rem;
   width: 100%;
   height: auto;
   flex-direction: column;
   gap: 20px;
   background-color: #250420;
  

}


.footer .subscribe img{
   width: 90px;
   margin-bottom: 15px;

}


.footer .links{
   display: flex;
   flex-direction: column;
   margin-bottom: 1px;
}


.footer .contact h1{
   margin-bottom: 7px;
   font-size: 20px;

}



.footer .links h1{
   margin-bottom: 7px;
   font-size: 20px;

}



.footer .links a{
   color: whitesmoke;
   text-decoration: none;
   margin: 3px 0;
}

.footer .contact a{
   color: whitesmoke;
   text-decoration: none;
   margin: 3px 0;
}

.footer .contact{
   display: flex;
   flex-direction: column;
   
}

.copy_rignt{
   width: 100%;
   text-align: center;
   background-color: #000;
   color: whitesmoke;
   height: 4rem;
   letter-spacing: 1px;
   height: auto;
 
 }


 .sidebar{
   z-index: 1000;
   display: block;
 }

 .sidebar li{
   z-index: 999;
   margin-top: 30px;
   margin-left: 20px;

 }



 .logo_sidebar{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;

 }

 .logo_sidebar img{
   width: 100px;
 }

 .logo_sidebar .fa-xmark{
   font-size: 30px;
   padding-right: 30px;
   padding-top: 20px;
 }


}

@media screen and (min-width:900px){

   .text h2{
      font-size: 2.5rem;
      width: 60%;
   }

  .logo img{
   width: 90px;
  }



  .header .text{
   margin-top: 14rem;
   width: 100%;
  }
   

}




   





   
 













 
